@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);

* {
  margin: 0;
  padding: 0;
  font-family: MontSerrat, monospace;
  box-sizing: border-box;
}

body {
  color: #ffffff;
  background-image: url("./Wallpapers.jpg");
  background-size: cover;
  background-position: center;
}

.HomeScreen {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 10%;
}

.Conteúdo-Home {
  max-width: 600px;
}

.Conteúdo-Home h1 {
  color: #d6e4c3;
  font-size: 57px;
  font-weight: 900;
}

.Conteúdo-Home h4 {
  font-size: 34px;
  font-weight: 600;
  color: #c2b291;
}

.Conteúdo-Home p {
  font-size: 16px;
  font-family: monospace;
  margin: 20px 0 40px;
}

.Conteúdo-Home .button-box {
  width: 365px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.button-box a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 100%;
  background: #87837b;
  border: 3px solid #87837b;
  border-radius: 3px;
  color: #63594d;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  font-family:Ubuntu;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    width: 40px;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: transparent;
    border: 2px solid #927575;
    border-radius: 50%;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}

.home-sci a :hover{
    color: #ca985b;
    transition: .6s;
}

.button-box a:nth-child(2) {
  background: transparent;
  color: #87837b;
}

.button-box a:hover {
  color: #d6e4c3;
  transition: .3s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background-color: transparent;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  margin-right: 20px;
}

h1 :hover {
  color: #d6e4c3;
}

.nav a {
  font-size: 23px;
  color: white;
  font-weight: bolder;
  text-decoration: none;
  font-weight: 800;
  margin-right: 35px;
  transition: 0.3s;
}

.nav a:hover,
.nav a.active {
  color: #d6e4c3;
  transition: 0.3s;
}
