@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Fira+Code:300,regular,500,600,700);

* {
  margin: 0;
  padding: 0;
  font-family: MontSerrat;
  box-sizing: border-box;
}

body {
  color: #ffffff;
  background-size: cover;
  background-position: center;
  background-image: url("image.png");
}

.HomeScreen {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 10%;

  margin-left: 500px;
}

.Conteúdo-Home {
  max-width: 600px;
}

.Conteúdo-Home h1 {
  color: #e0e0e0;
  font-size: 57px;
  font-weight: 900;
}

.Conteúdo-Home h4 {
  font-size: 34px;
  font-weight: 600;
  color: #e0e0e0;
}

.Conteúdo-Home p {
  font-size: 16px;
  font-family: Fira Code;
  margin: 20px 0 40px;
}

.Conteúdo-Home .button-box {
  width: 365px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  display: inline-flex;
  height: 60px;
  width: 60px;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;  
  border: 2px solid rgba(78, 91, 102, 0.411);
  background-color: rgb(150, 199, 221);
}

.button-box a:nth-child(2) {
  background: transparent;
  color: #87837b;
}

.button-box a:hover {
  color: #d6e4c3;
  transition: 0.3s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background-color: transparent;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  margin-right: 20px;
}

h1 :hover {
  color: #d6e4c3;
}

.nav a {
  font-size: 23px;
  color: white;
  font-weight: bolder;
  text-decoration: none;
  font-weight: 800;
  margin-right: 35px;
  transition: 0.3s;
}

.nav a:hover,
.nav a.active {
  color: #d6e4c3;
  transition: 0.3s;
}
